<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta name="keywords" content="auth.ooeecc.cn,<?php echo $conf['web_name']?>,都潮汇系统">
        <meta name="description" content="auth.ooeecc.cn,<?php echo $conf['web_name']?>,都潮汇系统">
        <meta name="author" content="auth.ooeecc.cn">
        <title><?php echo $conf['web_name']?></title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link type="text/css" rel="stylesheet" href="//shepay.ayunx.com/template/index/default20/css/base.css">
        <link type="text/css" rel="stylesheet" href="//shepay.ayunx.com/template/index/default20/css/home.css">
        <script type="text/javascript" src="//shepay.ayunx.com/template/index/default20/js/jquery.js"></script>

    </head>
    <body>
        <div class="header">
            <h1>
                <a href="index.html">
                    <div class="logo">
                        <img class="full_height" src="<?php echo $conf['logo_url']?>" alt="<?php echo $conf['web_name']?>"/>
                    </div>
                </a>
            </h1>
            <div class="page-tab">
                <div class="hoverUnderLine"></div>
                <ul class="first-menu">
                    <li class="active">
                        <a href="/">首页</a>
                    </li>
                    <li>
                        <a href="/SDK/">在线测试</a>
                    </li>
                    <li>
                        <a href="/doc.php">开发文档</a>
                    </li>
                    <li>
                        <a href="/user/">用户中心</a>
                    </li>
                    <li>
                        <a href="/user/reg.php">商户申请</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contetnWrapper">
            <div id="Index">
                <div class="flexslider kv_slides">
                    <ul class="slides">
                        <li>
                            <div class="left textAnimation" style="display:block;">
                                <div class="font-ll">智能风控</div>
                                <div class="moduleIntroduction">基于客户的多维度数据，以申请时点为基准，通过客户的动态申请行为趋势变化、申请贷款偏好情况、信息伪装变更等情况，采用机器学习算法进行建模，得出风险评分。通过复杂关系网络发现客户申请当中存在的风险点，可以有效识别恶意付款等早期风险。</div>
                            </div>
                            <div class="right ">
                                <div class="right">
                                    <div class="sliderImg">
                                        <img class="imgAnimation_kv1" src="//shepay.ayunx.com/template/index/default20/images/aui-banner01.png" alt="as" draggable="false" style="display: block;">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <div class="font-ll">智能支付</div>
                                <div class="moduleIntroduction">现在如今，支付是商业变现必不可少的环节。我们聚合所有主流支付渠道，给你更简单、快捷的接入体验，同时提供简单易用的管理平台，让你可以集中进行跨渠道的交易管理和财务管理。我们致力于帮助企业快速和高质量地建立支付模块，满足企业任何支付场景的需求！</div>
                            </div>
                            <div class="right">
                                <div class="sliderImg">
                                    <img src="//shepay.ayunx.com/template/index/default20/images/aui-banner02.png" alt="智能支付"/>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <div class="font-ll">灵活便利</div>
                                <div class="moduleIntroduction">一键式对接，极速完成支付接入。简洁的操作界面易于使用！我们不介入资金流，只负责交易处理不参与资金清算，保障您的资金安全。灵活便利的产品服务灵活组合，满足企业多元化业务需求。完美运用交易数据分析功能，了解您的运营状况进行充分的统计。我们采用最安全的都潮汇系统，多备份容灾保障</div>
                            </div>
                            <div class="right">
                                <div class="sliderImg">
                                    <img src="//shepay.ayunx.com/template/index/default20/images/aui-banner03.png" alt="灵活便利"/>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="productionAndService" class="module gray">
                    <div class="title font-32" style="padding:45px 0 0 0;">产品服务</div>
                    <div style="font-size:17px;color:#4d4d4d;text-align:center;padding:10px 0 50px 0;">提供精准、一站式卓越的产品和服务</div>
                    <ul class="productionLists">
                        <li index="0">
                            <div class="icons icon-khjzpj icons-one"></div>
                            <div class="name">产品优势</div>
                            <ul class="summary">
                                <li>稳定渠道</li>
                                <li>安全保障</li>
                            </ul>
                            <div class="content">我们的优势：长期稳定支付通道、方便快捷账号管理、高效实时监控订单、敏感信息安全保证、T+1结算机制、客服高效服务</div>
                            <div class="rightLine"></div>
                        </li>
                        <li index="1">
                            <div class="icons icon-zqfxsb icons-two"></div>
                            <div class="name">结算渠道</div>
                            <ul class="summary">
                                <li>实时查询</li>
                                <li>安全可靠</li>
                            </ul>
                            <div class="content">资金安全有保障-实时查询，安全可靠，多重账号保护措施安全可靠：维护商户利益，7*24小时全天候服务。通过简单的页面配置，可以替代复杂繁琐的人工资金结算业务，提高业务实时性，降低错误。</div>
                            <div class="rightLine"></div>
                        </li>
                        <li index="2">
                            <div class="icons icon-qzfxff icons-three"></div>
                            <div class="name">反欺诈分析报告</div>
                            <ul class="summary">
                                <li>分类甄别</li>
                                <li>完整报告</li>
                            </ul>
                            <div class="content">依托个人反欺诈决策引擎，对用户身份信息、黑名单信息、风险信息、多头借贷等行为进行甄别，为信贷机构提供一套完整的支付前反欺诈分析报告。</div>
                            <div class="rightLine"></div>
                        </li>
                        <li index="3">
                            <div class="icons icon-dhjkgl icon-four"></div>
                            <div class="name">资金回笼</div>
                            <ul class="summary">
                                <li>易用部署</li>
                                <li>智能决策</li>
                            </ul>
                            <div class="content">一次轻松接入所有支付（QQ钱包，支付宝，微信），省时省心省力， 结算费率低，利润高！对接费率超低，比其它平台更便宜.全天监视订单和资金安全，正规支付接口！我们提供7X24小时在线服务，对日交易高额用户提供贵宾服务！</div>
                        </li>
                    </ul>
                </div>
                <div id="dataStatistics" class="module">
                    <div class="title font-32" style="padding:45px 0 100px 0;">我们的优势</div>
                    <ul class="aui-list-box">
                        <li class="aui-list-grids this-card">
                            <div class="aui-list-item">
                                <div class="aui-list-one-bj"></div>
                                <div class="aui-list-one-bg">具备丰富的金融风险管理经验</div>
                            </div>
                        </li>
                        <li class="aui-list-grids">
                            <div class="aui-list-item-two">
                                <div class="aui-list-one-bj"></div>
                                <div class="aui-list-one-bg">具有全面、丰富、高质量的数据资源</div>
                            </div>
                        </li>
                        <li class="aui-list-grids">
                            <div class="aui-list-item-three">
                                <div class="aui-list-one-bj"></div>
                                <div class="aui-list-one-bg">能够提供高效、稳定的系统技术服务</div>
                            </div>
                        </li>
                        <li class="aui-list-grids">
                            <div class="aui-list-item-four">
                                <div class="aui-list-one-bj"></div>
                                <div class="aui-list-one-bg">得到数家知名金融机构的认可</div>
                            </div>
                        </li>
                        <li class="aui-list-grids">
                            <div class="aui-list-item-five">
                                <div class="aui-list-one-bj"></div>
                                <div class="aui-list-one-bg">具备业内一流的数据分析和产品创新能力</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footerWrapper">
            <div class="title font-32" style="padding:45px 0 0 0;">联系我们</div>
            <div style="font-size:17px;color:#4d4d4d;text-align:center;padding:10px 0 50px 0;"><?php echo $conf['web_name']?>与您共创辉煌</div>
            <div class="footer">
                <div class="top">
                    <div class="item">
                        <ul class="cursor_default">
                            <li>
                                <a>
                                    <span class="footerIcons footerPhone"></span>
                                    <span><?php echo $conf['web_name']?>技术有限公司</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="footerIcons footerAfterSale"></span>
                                    <span><?php echo $conf['phone']; ?></span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="footerIcons footerBusiness"></span>
                                    <span><?php echo $_SERVER['SERVER_NAME']?></span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="footerIcons footerMedia"></span>
                                    <span><?php echo $conf['dizhi']; ?></span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="footerIcons footerAuthor"></span>
                                    <span>系统支持-都潮汇系统</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="adcodeArea">
                        <div class="icon_adcode">
                            <img class="full_height" src="//shepay.ayunx.com/template/index/default20/images/aui-code.jpg" alt="微信捐赠我们"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tipmsgArea">
                <div class="content">
                    <div class="name">
                        Copyright © 2019 <?php echo $conf['web_name']?> 
                        <em>
                            <img src="//shepay.ayunx.com/template/index/default20/images/icon-ga.png" width="20" height="20" alt="备案号">备案号：<?php echo $conf['beian']; ?>
                        </em>
                    </div>
                </div>
            </div>
        </div>
        <div class="mask">
            <div class="layer"></div>
            <div class="content">
                <img src="//shepay.ayunx.com/template/index/default20/images/masklayer.png" alt="低于ie8提示"/>
                <a class="google" href="https://www.google.cn/intl/zh-CN/chrome/browser/desktop/" target=_blank>谷歌 Chrome</a>
                <a class="firefox" href="http://www.firefox.com.cn/" target=_blank>火狐 Firefox</a>
            </div>
        </div>
        <script type="text/javascript" src="//shepay.ayunx.com/template/index/default20/js/as.js"></script>
        <script type="text/javascript">

            $('.aui-list-grids').click(function(e) {

                $(this).addClass('this-card').siblings().removeClass('this-card');

                $('#type-amount').html($(this).find('.cardAmount').html());

            })
        </script>
        <script type='text/javascript'>
            (function(m, ei, q, i, a, j, s) {
                m[i] = m[i] || function() {
                    (m[i].a = m[i].a || []).push(arguments)
                };
                j = ei.createElement(q),
                    s = ei.getElementsByTagName(q)[0];
                j.async = true;
                j.charset = 'UTF-8';
                j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
                s.parentNode.insertBefore(j, s);
            })(window, document, 'script', '_MEIQIA');
            _MEIQIA('entId', <?php echo $conf['kfset_mqid']?>);
        </script>
    </body>
</html>
